html, body {
    height: 100%
}

#scene1 {
    height: 100%;
    width: 66%;
    float: right;
}

#scene2 {
    height: 100%;
    width: 66%;
    float: right;
}

#scene3 {
    height: 100%;   
    width: 66%;
    float: right;
}

model-viewer:focus {
    outline: none;
  }

model-viewer {
    width: auto;
    height: 100%;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#text1 {
    width: 33%;
    height: auto;
    float: left;
    margin-left: 10pt;
}

#text2 {
    width: 33%;
    height: auto;
    float: left;
    margin-left: 10pt;
}

#text3 {
    width: 33%;
    height: auto;
    float: left;
    margin-left: 10pt;
}

#parent1 {
    height: 33%;
    width: auto;
}

#parent2 {
    height: 33%;
    width: auto;
}

#parent3 {
    height: 33%;
    width: auto;
}

@media screen and (max-width: 600px) {
    #text1 {
        width: 100%;
        height: auto;
    }
    
    #scene1 {
        height: 33%;
        width: 100%;
    }

    #text2 {
        width: 100%;
        height: auto;
    }
    
    #scene2 {
        height: 33%;
        width: 100%;
    }

    #text3 {
        width: 100%;
        height: auto;
    }
    
    #scene3 {
        height: 33%;
        width: 100%;
    }
}